.container {
    display: flex;
    flex-direction: column;

    cursor: pointer;
    box-shadow: 1px 1px 3px 0px #A0A0A0;
    border-radius: 5px;

    padding: 5px 10px;

    &:hover {
        background-color: #cce5ff;
    }

    mat-card-subtitle {
        display: flex;
        justify-content: space-between;
    }
}

.header {
    margin-left: 10px;
    margin-bottom: 5px;

    &__title {
        font-weight: 600;
        font-size: 1.2em;
    }

    &__sub-title {
        display: flex;
        justify-content: space-between;

        font-size: 0.8em;
        color: #808080;
    }
}

.link {

}

.date {

}

.content {

}