.sign-in-form {
    &__message-error {
        background-color: #ffacb0;
        margin: 10px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
    }

    form {
        display: flex;
        flex-direction: column;
    }
}