.users-menu {
    &__content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        min-width: 200px;

        &-login {
            color: #5E0D0D;
            margin-bottom: 10px;
        }

        &-item {
            font-size: 15px;
            cursor: pointer;
            margin-bottom: 5px;

            &:hover {
                color: rgb(20, 34, 80);
            }

            a {
                text-decoration: none;
            }
        }
    }

    .active {
        font-weight: 500;
    }
}