<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
    <div class="users-menu__content">
        <div class="users-menu__content-login">
            {{ User?.Name }}
        </div>
        <div class="users-menu__content-item">
            <a [routerLink]="[ '/', 'private-room' ]"
               routerLinkActive="active">
                Личный кабинет
            </a>
        </div>
        <div class="users-menu__content-item"
             (click)="singOut()">
            Выйти
        </div>
    </div>
</mat-menu>