@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto,
    "Helvetica Neue",
    sans-serif;

    color: #494949;
}

input:-internal-autofill-selected {
    background-color: white !important;
}
